Repository makepath/xarray-spatial, pull requests merged in 2021-04, with the labels that each got.

#291 Integrate xarray-spatial website with the documentation
  .github/workflows/docs-publish.yml
  README.md
  docs/.gitignore
  docs/Makefile
  docs/make.bat
  docs/source/_static/css/styles.css
  docs/source/_static/img/4-1.png
  docs/source/_static/img/4-2.png
  docs/source/_static/img/4-3.png
  docs/source/_static/img/4-4.png
  docs/source/_static/img/Xarray-Spatial-logo.svg
  docs/source/_static/img/dask-logo.svg
  docs/source/_static/img/favicon.ico
  docs/source/_static/img/numba-logo.svg
  docs/source/_static/img/python-logo.svg
  docs/source/_templates/autosummary/module.rst
  docs/source/_templates/description_panel.html
  docs/source/_templates/docs-navbar.html
  docs/source/_templates/examples.html
  docs/source/_templates/versions.html
  docs/source/classification.rst
  docs/source/conf.py
  docs/source/focal.rst
  docs/source/getting_started/index.rst
  docs/source/getting_started/installation.rst
  docs/source/getting_started/raster_huh.rst
  docs/source/getting_started/usage.rst
  docs/source/index.rst
  docs/source/multispectral.rst
  docs/source/proximity.rst
  docs/source/reference/classification.rst
  docs/source/reference/focal.rst
  docs/source/reference/index.rst
  docs/source/reference/multispectral.rst
  docs/source/reference/pathfinding.rst
  docs/source/reference/proximity.rst
  docs/source/reference/surface.rst
  docs/source/reference/zonal.rst
  docs/source/releases.json
  docs/source/surface.rst
  docs/source/zonal.rst
  requirements-dev.txt
  xrspatial/tests/test_classify.py
  xrspatial/tests/test_focal.py
  xrspatial/tests/test_viewshed.py
Labels: DGP

#323 Fix travis ci
  MANIFEST.in
  setup.py
Labels: WIP

#326 move docs requirements to source folder
  docs/source/requirements.txt
  requirements-dev.txt
Labels: WIP

#333 fix numbering
  examples/user_guide/6_Remote_Sensing.ipynb
  examples/user_guide/7_Pathfinding.ipynb
Labels: ready to merge

#351 cloudless mosaic notebook: use Dask-Gateway
  examples/cloudless-mosaic-sentinel2.ipynb
Labels: ready to merge

#346 add documentation step on release steps
  RELEASE.md
Labels: ready to merge

#336 Edit Focal user guide
  examples/user_guide/4_Focal.ipynb
Labels: ready to merge

#339 true_color: sigmoid contrast enhancement
  examples/cloudless-mosaic-sentinel2.ipynb
  xrspatial/multispectral.py
  xrspatial/tests/test_multispectral.py
Labels: ready to merge

#364 true_color returns a DataArray
  examples/cloudless-mosaic-sentinel2.ipynb
  xrspatial/multispectral.py
  xrspatial/tests/test_multispectral.py
Labels: ready to merge

#373 fix year on release dates
  CHANGELOG.md
Labels: ready to merge

#374 add CONTRIBUTING.md
  CONTRIBUTING.md
Labels: ready to merge

#371 add Github Action to publish package to PyPI
  .github/workflows/pypi-publish.yml
Labels: open source infrastructure, ready to merge

#378 Update docs design version mapping
  docs/source/conf.py
  docs/source/releases.json
Labels: ready to merge

#376 Add user guide on the documentation website
  .github/workflows/docs-publish.yml
  docs/source/conf.py
  docs/source/index.rst
  docs/source/requirements.txt
  docs/source/user_guide/classification.ipynb
  docs/source/user_guide/focal.ipynb
  docs/source/user_guide/index.rst
  docs/source/user_guide/multispectral.ipynb
  docs/source/user_guide/pathfinding.ipynb
  docs/source/user_guide/proximity.ipynb
  docs/source/user_guide/surface.ipynb
  docs/source/user_guide/zonal.ipynb
Labels: ready to merge

#381 add deprecation warning to tiles module
  xrspatial/tiles.py
Labels: ready to merge

#386 Typos in README.md and CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: ready to merge

#382 add citations guidelines and reformat
  Citation-styles.md
  README.md
  xrspatial/aspect.py
  xrspatial/bump.py
  xrspatial/classify.py
  xrspatial/curvature.py
  xrspatial/hillshade.py
  xrspatial/multispectral.py
  xrspatial/pathfinding.py
  xrspatial/perlin.py
  xrspatial/proximity.py
  xrspatial/slope.py
  xrspatial/terrain.py
  xrspatial/utils.py
  xrspatial/zonal.py
Labels: ready to merge

#383 update changelog v0.1.9
  CHANGELOG.md
Labels: ready to merge
