Repository makepath/xarray-spatial, pull requests merged in 2024-04, with the labels that each got.

#796 Bunch of Fixes
  .github/workflows/codecov.yml
  .github/workflows/test.yml
  README.md
  requirements.txt
  xrspatial/experimental/polygonize.py
Labels: bug, enhancement

#797 Move docs to readthedocs [WIP]
  .github/workflows/docs-publish.yml
  .gitignore
  .readthedocs.yml
  docs/Makefile
  docs/make.bat
  docs/source/conf.py
  docs/source/releases.json
  setup.cfg
Labels: WIP

#799 Fix typo in readthedocs config
  .readthedocs.yml
Labels: documentation

#798 Update readthedocs configuration [WIP]
  .readthedocs.yml
  docs/docs-requirements.txt
  docs/source/conf.py
Labels: WIP
